<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
    <title>Estacionar Veiculo</title>
</head>
<body>
    <table class="table table-striped table-responsive table-bordered">
            <thead class="thead-default">
                <tr>
                    <th>Seção</th>
                    <th>Numero</th>
                    <th>Andar</th>
                    <th>Tipo</th>
                    <th>Bloco</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <div>
                    {% for vaga in vagas  %}
                        <tr>
                            <form action="" method="post">
                                <td>{{ vaga['seçao'] }}</td>
                                <td>{{ vaga['numero'] }}</td>
                                <td>{{ vaga['andar'] }}</td>
                                <td>{{ vaga['tipo'] }}</td>
                                <td>{{ vaga['bloco'] }}</td>
                                <td>{{ vaga['status'] }}</td>
                                <td><button type="submit">Estacionar Aqui!!</button></td>
                                <input name="id_vaga" value="{{ vaga['id'] }}" type="hidden"></input>
                            </form>
                        </tr>
                    {% endfor %}
                </div>
            </tbody>
    </table>>
</body>
</html>